<template lang="html">
    <div class="google-maps">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        center : {
            type : String,
            required: false,
            default: "56.859996,24.616421"
        },
        zoom : {
            type : Number,
            required: false,
            default : 13
        }
    },
    data(){
        return {
            style : null,
            map : null,
            styles : [{featureType:"administrative",elementType:"all",stylers:[{saturation:"-100"}]},{featureType:"administrative.province",elementType:"all",stylers:[{visibility:"off"}]},{featureType:"landscape",elementType:"all",stylers:[{saturation:-100},{lightness:65},{visibility:"on"}]},{featureType:"poi",elementType:"all",stylers:[{saturation:-100},{lightness:"50"},{visibility:"simplified"}]},{featureType:"road",elementType:"all",stylers:[{saturation:"-100"}]},{featureType:"road.highway",elementType:"all",stylers:[{visibility:"simplified"}]},{featureType:"road.arterial",elementType:"all",stylers:[{lightness:"30"}]},{featureType:"road.local",elementType:"all",stylers:[{lightness:"40"}]},{featureType:"transit",elementType:"all",stylers:[{saturation:-100},{visibility:"simplified"}]},{featureType:"water",elementType:"geometry",stylers:[{hue:"#ffff00"},{lightness:-25},{saturation:-97}]},{featureType:"water",elementType:"labels",stylers:[{lightness:-25},{saturation:-100}]}]
        }
    },
    mounted(){
        var self = this;
        this.registerGoogleAPIScript();
        bus.$on('google:loaded', function(){
            self.createMap();
        });
    },
    methods : {
        createMap(){
            var self = this;
            var center = this.center.split(',').map(Number);
            var position = {lat: center[0], lng: center[1]};

            this.map = new google.maps.Map(this.$el, {
                zoom: self.zoom,
                center: position,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: self.styles,
                // draggable: false,
                scrollwheel: false,
            });

            bus.$emit('google:created', this.map);
        },
        registerGoogleAPIScript(){
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = google_maps.api_url;
            script.async = true;
            script.defer = true;
            document.body.appendChild(script);
        },
    }
}
</script>
