<template lang="html">
    <div>
        <slot></slot>
    </div>
</template>

<script>
export default {
    props : {
        position : {
            required : true,
            type: String
        },
        icon : {
            type : String,
            default : ""
        }
    },
    mounted(){
        var self = this;
        bus.$on('google:created', function(map){
            MapOverlay.prototype = new google.maps.OverlayView();
            self.addMarker(map)
        })
    },
    methods : {
        addMarker(map){
            var self = this;
            var position = this.position.split(',').map(Number);
            var center = {lat : position[0], lng:position[1]};

            var marker = new google.maps.Marker({
                position: center,
                map: map,
                icon: self.icon,
                zIndex:1000
            });

            if(this.$slots.default.length > 0){
                var overlay = new MapOverlay(map, center, this.$slots.default[0].elm);
                marker.set('_overlay', overlay);
            }

            google.maps.event.addListener(marker, 'click', function(){
                self.clickMarker(marker)
                bus.$emit('marker:click', marker);
            });

            bus.$on('marker:click', function(_marker){
                if(marker != _marker){
                    marker._overlay._hide();
                }
            })
        },
        clickMarker(marker){
            marker._overlay._toggle();
        }
    }
}

function MapOverlay(map, bounds, content) {

    this.map = map;
    this.bounds = new google.maps.LatLng(bounds.lat, bounds.lng);
    this.content = content;

    this.div = null;
    this.opened = false;

    this.setMap(map);

    this.onAdd = function(){
        var div = document.createElement('div');
        div.style.borderStyle = 'none';
        div.style.borderWidth = '0px';
        div.style.position = 'absolute';

        div.appendChild(this.content);

        this.div = div;

        var panes = this.getPanes();
        panes.overlayLayer.style['zIndex'] = 1;
        panes.overlayMouseTarget.appendChild(div);

        this._hide();
    }

    this.draw = function(){
        var overlayProjection = this.getProjection();
        var ps = overlayProjection.fromLatLngToDivPixel(this.bounds);

        var div = this.div;
        div.style.left = (ps.x) + 'px',
        div.style.top = (ps.y) + 'px';
    }

    this.onRemove = function(){
        this.div.parentNode.removeChild(this.div);
        this.div = null;
    }

    this._show = function(){
        this.div.classList.remove("hidden__overlay");
        this.opened = true;
    }

    this._hide = function(){
        this.div.classList.add("hidden__overlay");
        this.opened = false;
    }

    this._toggle = function(){
        if(this.opened){
            this._hide();
        }
        else{
            this._show();
        }
    }
}

</script>
