@keyframes dragAndRelease {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    60%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(20px);
    }
    82%{
        transform: translateY(-7px);
    }
    84%{
        transform: translateY(5px);
    }
    86%{
        transform: translateY(-3px)
    }
    88%{
        transform: translateY(2px)
    }
    90%{
        transform: translateY(0);
    }
}

.parallax{
    overflow: hidden;
    position: relative;
    .parallax__image{
        max-width: 100%;
        height: auto;
        position: absolute;
    }
}
