.banner{
    position: relative;

    background-color: $brand-primary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #fff;
    text-align: center;
    overflow: hidden;

    &:hover, &:focus{
        color: #fff;
        text-decoration: none;
    }

    &:before{
        content:"";
        @include backdrop();
        z-index: 2;
        background: rgba(#000, .23);
    }

    &.banner--darker{
        &:before{
            background: rgba(#000, .4);
        }
    }

    .banner__heading{
        color: inherit;
        text-transform: uppercase;
        line-height: normal;
        position: relative;
        z-index: 10;
    }

    .banner__content{
        position: relative;
        z-index: 10;
    }

    &.banner--animate{
        position: relative;
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(#201a23,0) 0%, rgba(#201a23,0.8) 75%);
            content: '';
            opacity: 0;
            transform: translate3d(0,50%,0);
            transition: .35s opacity, .35s transform;
        }
        .banner__text{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 30px;
            width: 100%;
            opacity: 0;
            transform: translate3d(0,10px,0);
            transition: .35s opacity, .35s transform;
            z-index: 9;
            font-size: 21px;
            font-weight: 300;
            margin-bottom: 0;
        }
        .banner__heading{
            transition: .35s transform;
            transform: translateY(0)
        }
        &:hover{
            &:after{
                transform: translate3d(0,0,0);
                opacity: 1;
            }
            .banner__text{
                opacity: 1;
                transform: translate3d(0,0,0);
            }
            .banner__heading{
                transform: translateY(-10px)
            }
        }
    }
}

.row{
    .banner{
        padding: 30px;
        height: 530px;
    }
}

.fullscreen{
    height: 100vh;
    position: relative;

    .fullscreen__scroll{
        position: absolute;
        bottom:0;
        right:30px;
        font-size: 0;
        z-index: 2;
        animation: dragAndRelease 10s infinite;
        // animation
    }

    video{
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
    	transform: translate(-50%, -50%)
    }
}

.banner.fullscreen{
    .banner__heading{
        strong{
            font-size: 50px;
        }
    }
}
