.btn{
    font-size: 17px;
    padding: 19px 30px;
    text-transform: uppercase;
}

.btn-lg{
    font-size: 20px;
    padding: 19px 50px;
}

.btn-primary{
    color: #fff;
    border:0;
    position: relative;
    background: 0;
    overflow: hidden;
    z-index: 10;
    &:hover{
        background: 0;
        &:before{
            transform: translateY(0);
            opacity: 1;
        }
    }

    &:before, &:after{
        top:0;left:0;
        width: 100%;
        height: 100%;
        position: absolute;
        content:"";
    }
    &:before{
        background: lighten($brand-primary, 5%);
        z-index: -1;
        transform: translateY(100%);
        transition: transform .25s, opacity .25s;
        opacity: 0;
    }

    &:after{
        background: $brand-primary;
        z-index: -2;
    }
}

.btn-default{
    color: $brand-primary;
    background: 0;
    position: relative;
    z-index: 10;
    overflow: hidden;
    &:hover{
        // background: darken(#fff, 5%);
        background: 0;
        color: lighten($brand-primary, 10%);
        &:before{
            transform: translateY(0);
            opacity: 1;
        }
    }

    &.btn-alt{
        color: #000;
    }

    &:before, &:after{
        top:0;left:0;
        width: 100%;
        height: 100%;
        position: absolute;
        content:"";
    }

    &:before{
        background: darken(#fff, 5%);
        z-index: -1;
        transform: translateY(100%);
        transition: transform .25s, opacity .25s;
        opacity: 0;
    }

    &:after{
        background: #fff;
        z-index: -2;
    }
}

.drop{
    position: relative;
    a{
        color: inherit;
    }
    .drop__head{
        display: flex;
        align-items: center;

        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;

        .drop__head--pre{
            margin-right: 10px;
        }
        .drop__head--arrow{
            margin-left: 10px;
        }
    }

    .drop__dropdown{
        position: absolute;
        top:100%;
        left:0;

        opacity: 0;
        visibility: hidden;
    }
}

.burger {
    height: 14px;
    width: 33px;
    position: relative;
    div{
        top:50%;
        margin-top:-1px;
    }
    &:before, &:after{
        content:"";
    }

    div, &:before, &:after{
        width: 100%;
        height: 0;
        position: absolute;
        border-top:1px solid #fff;
        border-bottom: 1px solid #fff;
        transition-duration: .25s;
    }
    &:before{
        top:0;
    }
    &:after{
        bottom:0;
    }

    &:hover{
        &:before{
            top:50%;
            margin-top: -1px;
            transform:rotate(45deg);
        }
        &:after{
            bottom:50%;
            margin-bottom: -1px;
            transform: rotate(-45deg)
        }
        div{
            opacity: 0;
        }
    }
}
