.google-maps{
    height: 530px;

    .hidden__overlay{
        display: none;
    }

    .maps__overlay{
        background: #fff;
        box-shadow: 0 3px 7px rgba(#000, .1);

        display: flex;
        flex-direction: row;

        width: 410px;
        font-family: $font-family-sans-serif;
        position: absolute;
        bottom:100%;
        left:0;

        &:hover{
            text-decoration: none;
            color:inherit;
        }

        .overlay__image{
            width: 175px;
            min-height: 175px;
            background-color: $brand-primary;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .overlay__content{
            padding: 30px;
            flex:1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .overlay__position{
                position: absolute;
                right:15px;
                bottom:15px;

                display: flex;
                margin-bottom: 0;
                align-items: center;

                i{
                    color: $brand-primary;
                    margin-left: 10px;
                    font-size:16px;
                }
                span{
                    text-transform: uppercase;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $text-muted;
                    font-weight: 300;
                }
            }

            .overlay__title{
                color: $brand-primary;
                font-size: 18px;
                font-weight: 300;
                text-transform: uppercase;
                line-height: normal;
            }
        }
    }
}
