#header{
    .nav-primary{
        .nav-item{
            .nav-link{
                color: transparent;
                &:before, &:after{
                    content: attr(title);
                    position: absolute;
                    left:0;
                    top:0;
                    transition-duration: .35s;
                    white-space: nowrap;
                }
                &:before{
                    color:#fff;
                    opacity: 1;
                    transform: scale(1);
                }
                &:after{
                    color: $brand-primary;
                    opacity: 0;
                    transform: scale(.9);
                }
                &:hover{
                    &:before{
                        transform: scale(.9);
                        opacity: 0;
                    }
                    &:after{
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

#footer{
    .nav-primary{
        .nav-link{
            &:hover{
                color: $brand-primary;
            }
        }
    }
}

.nav-primary{
    .nav-item{
        margin-left: 30px;
        margin-right: 30px;
        .nav-link{
            color: inherit;
            text-transform: uppercase;
            padding:0;
            font-size: 19px;
            position: relative;
        }
    }
}

.nav-dashed{
    .nav-item{
        position: relative;
        display: flex;
        flex-direction: row;

        &:after{
            content: "|";
            font-weight: 300;
            margin-left: 10px;
            margin-right: 10px;
        }
        &:last-child{
            &:after{
                display: none;
            }
        }

        .nav-link{
            padding:0;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}


.nav-social{
    display: inline-flex;
    .nav-item{
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-link{
        color: #fff;
        background: $brand-primary;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s background, .25s box-shadow;
        i{
            font-size: 0;
            line-height: normal;
            &:before{
                font-size: 20px;
            }
        }
        &:hover{
            $bg: $brand-primary;
            background: lighten($bg, 5%);
            // box-shadow: 0 0 5px lighten($bg, 5%);
        }
    }
    .bg-facebook{
        $bg : #3046b7;
        background: $bg;
        &:hover{
            background: lighten($bg, 5%);
            // box-shadow: 0 0 5px lighten($bg, 5%);
        }
    }
    .bg-twitter{
        $bg: #4cb5ff;
        background: $bg;
        &:hover{
            background: lighten($bg, 5%);
            // box-shadow: 0 0 5px lighten($bg, 5%);
        }
    }
    .bg-youtube{
        $bg: #ed4242;
        background: $bg;
        &:hover{
            background: lighten($bg, 5%);
            // box-shadow: 0 0 5px lighten($bg, 5%);
        }
    }
    .bg-linkedin{
        $bg: #1876d6;
        background: $bg;
        &:hover{
            background: lighten($bg, 5%);
            // box-shadow: 0 0 5px lighten($bg, 5%);
        }
    }
    .bg-whatsapp{
        $bg: #50bd6a;
        background: $bg;
        &:hover{
            background: lighten($bg, 5%);
            // box-shadow: 0 0 5px lighten($bg, 5%);
        }
    }
}
