.products{
    padding-bottom: 40px;
    .title{
        padding-bottom: 50px;
        position: relative;
        z-index: 10;
        p{
            font-size: 24px;
            color:$text-muted;
            text-transform: none;
            font-weight: 300;
        }
    }

    .product{
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex:1;
        .product__image{
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            margin-bottom: 45px;
            a{
                position: absolute;
                top:0;left:0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                .img{
                    position: relative;
                    width: 100%;
                    .badge{
                        margin-top: -40px;
                        margin-right: 40px;
                    }
                }
            }

            .badge{
                position: absolute;
                background: $brand-primary;
                width: 80px;
                height: 80px;
                line-height: 80px;
                padding:0;
                border-radius: 50%;
                align-items: center;
                font-size: 20px;
                font-weight: 300;
                top:0;
                right:0;
                left:auto;
            }
        }

        .product__title{
            font-size: 25px;
            text-transform: uppercase;
            color: $brand-primary;
            line-height: normal;
            margin-bottom: 20px;
            a{
                color:inherit;
                &:hover{
                    text-decoration: none;
                }
            }
        }

        .product__description{
            font-size: 20px;
            font-weight: 300;
            color: $text-muted;
            padding: 0 20px 25px;
            p{
                margin-bottom: 0;
            }
        }

        .product__content{
            width: 100%;
            flex:1 0 auto;
        }
    }
}
