.title{
    text-align: center;
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 70px;

    &.title--primary{
        background: $brand-primary;
        color: #fff;
    }

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .heading{
        margin-bottom: 0;
        padding-left: 50px;
        padding-right: 50px;
        letter-spacing: 3px;
    }

    .btn--right{
        position: absolute;
        right:0;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    letter-spacing: 3px;
}
