#footer{
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .nav{
        padding-top: 75px;
        padding-bottom: 90px;
        display: inline-flex;
    }

    .nav-primary{
        padding-bottom: 50px;
    }
    .nav-social{
        padding-top: 50px;
    }

    .copyright{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        font-size: 14px;
        text-transform: uppercase;
        color: $text-muted;
        font-weight: 300;

        > * {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 0;
        }
        .nav{
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

#born{
    display: flex;
    flex-direction: row;
    align-items: center;
    a{
        font-size: 0;
        line-height: normal;
        margin-left: 10px;
        transition: opacity .25s;
        &:hover{
            opacity: .85;
        }
    }
}
