#header{
    position: fixed;
    top:0;
    z-index: 1000;

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    color: #fff;

    .brand{
        margin-right: 30px;
        font-size: 0;
        position: relative;
        img{
            transition: opacity .25s;
            opacity: 1;
            &.brand-hover{
                position: absolute;
                top:0;left:0;
                opacity: 0;
            }
        }
        &:hover{
            img{
                opacity: 0;
                &.brand-hover{
                    opacity: 1;
                }
            }
        }
    }

    &.scrolled{
        .brand{
            img{
                opacity: 0;
                &.brand-hover{
                    opacity: 1;
                }
            }
        }
    }

    .header--right{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex:1;

        padding-top: 25px;
        padding-left: 30px;
        padding-right: 30px;

        .header__menu{
            display: flex;
            flex-direction: row;
            align-items: center;

            .burger{
                margin-left: 50px;
            }
        }
    }
}
