body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin backdrop{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
}

.m-b-none{
    margin-bottom: 0;
}

.m-b-lg{
    margin-bottom: 30px;
}
