// Colors
$brand-primary:         #4e106c;
// $brand-primary-lighten: #93c9df;
// $brand-secondary:       #f5842a;
//
// $border-radius:         3px;
//
// $grey-dark: #848484;
$grey-light: #aaaaaa;
//
$text-muted: $grey-light;
//
// $text-color: $grey-dark;
// $body-color: $grey-dark;
//

$text-color: #222;
$body-bg: #fff;
//
// // Spacers
// $spacer:  20px !default;
// $spacer-x: $spacer !default;
// $spacer-y: $spacer !default;
// $spacers: (
//   none: (
//     x: 0,
//     y: 0
//   ),
//   sm: (
//     x: ($spacer-x * .5),
//     y: ($spacer-y * .5)
//   ),
//   md: (
//     x: ($spacer-x * 1.5),
//     y: ($spacer-y * 1.5)
//   ),
//   lg: (
//     x: ($spacer-x * 2),
//     y: ($spacer-y * 2)
//   ),
//   xl: (
//     x: ($spacer-x * 3),
//     y: ($spacer-y * 3)
//   )
// ) !default;
//

$btn-border-radius: 0;

// // Fonts
$font-family-sans-serif: 'Oswald', sans-serif;
$headings-font-family:   $font-family-sans-serif;
$headings-font-weight:   300;
// $fa-font-path:           '~font-awesome/fonts';

$font-size-h1 : 40px;
